*{
    font-family: monospace;
}

body{
    background-color: lightblue;
}

section{
    border-top: 1px solid black;
    margin: 0 0 20px 0;
}

.form__label{
    font-size: 16px;
}

.form__input{
    margin: 0 0 10px 0;
}

.form__button{
    margin: 10px 0 0 0;
    align-self: center;
}

.section__table, .section__form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lista__table{
    width: 60%;
    text-align: center;
    border-spacing: 0;
    border: 2px #252525 solid;
}

.lista__table__thead{
    background-color: rgb(189, 33, 33);
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.lista__table__tbody{
    background-color: rgb(238, 182, 144);
    color: white;
    font-size: 14px;
}

.icon{
    height: 16px;
    width: auto;
}